.memoList {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.memoItemWrapper {
    padding-bottom: 1rem;
}

.memosEmptyList {
    display: flex;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.notFoundText {
    font-size: 1.5rem;
    text-align: center;
}
