.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 8rem;
    padding: 1.5rem;

    border-radius: 15px;
    box-shadow: var(--default-shadow);
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.button.roundButton {
    border-radius: 50%;
    min-width: auto;
}

.button:hover {
    background-color: var(--button-color-hover);
}

.icon {
    width: 32px;
    height: 32px;
}

.icon + .text {
    padding-left: 10px;
}

.text {
    font-size: 24px;
    line-height: 32px;
}
