.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 8rem;
    padding: 0.5rem;

    border-radius: 15px;
    box-shadow: var(--default-shadow);
}

.button:hover {
    background-color: var(--button-color-hover);
}

.icon {
    width: 32px;
    height: 32px;
}

.icon + .text {
    padding-left: 0.5rem;
}

.text {
    font-size: 1rem;
    line-height: 32px;
}

.button.roundButton {
    border-radius: 50%;
    min-width: auto;
}

.button.big {
    padding: 1.5rem;
}
.button.big .text {
    font-size: 1.5rem;
}

.button.primary {
    background-color: var(--button-primary);
    color: var(--button-primary-text);
}
.button.primary:hover {
    background-color: var(--button-primary-hover);
}
.button.gray {
    background-color: var(--button-gray);
    color: var(--button-gray-text);
}
.button.gray:hover {
    background-color: var(--button-gray-hover);
}
