.textarea {
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    line-height: 1.5;
    padding: 8px 0;
    resize: none;
    transition: border-color 150ms ease;
    width: 100%;
}

.textarea:hover {
    border-color: #c6c6c6;
}

.textarea:focus {
    outline: none;
    border-color: #c6c6c6;
}

.textarea::placeholder {
    color: #c6c6c6;
}
