.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-memo-color);
    border-radius: 10px;
}

.text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
    white-space: pre-wrap;
}

.text.short {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}
