.cardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    height: 100%;
    border-radius: 10px;
    border: var(--default-border);
    background: var(--bg-color);
    box-shadow: var(--default-shadow);
}


.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-bottom: var(--default-border);
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    flex: 1;
    overflow: auto;
}

.bottomWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: auto;
    padding: 1.5rem;

    border-top: var(--default-border);
}
