:root {
    --bg-color: white;
    --bg-memo-color: rgba(230, 230, 230);
    --primary-color: rgba(9, 9, 121);
    --recording-color: rgb(200, 40, 40);
    --warning-color: rgba(200, 80, 80);
    --text-color: rgba(0,0,0,0.8);

    --default-border: 1px solid rgba(0,0,0,0.2);
    --default-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    --button-primary: rgba(9, 9, 121, 0.5);
    --button-primary-text: rgba(256,256,256,0.8);
    --button-primary-hover: rgba(9, 9, 121, 0.8);

    --button-gray: rgba(180, 180, 180, 0.5);
    --button-gray-text: rgba(0,0,0,0.8);
    --button-gray-hover: rgba(180, 180, 180, 0.8);

    --button-warning: rgba(180, 60, 60, 0.75);
    --button-warning-text: rgba(256,256,256,1);
    --button-warning-hover: rgba(180, 60, 60, 1);

    --button-text-color: white;
}
